@import "tailwindcss";
@custom-variant dark ([data-theme="dark"] &);

@layer base {
  :root {
     --bg-primary: #f8fafc;
  --bg-secondary: rgba(255, 255, 255, 0.1);
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --border-color: rgba(255, 255, 255, 0.2);
  --hover-bg: rgba(79, 70, 229, 0.1);
  }

  [data-theme="dark"] {
     --bg-primary: #0f172a;
  --bg-secondary: rgba(30, 41, 59, 0.7);
  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --border-color: rgba(255, 255, 255, 0.15);
  --hover-bg: rgba(79, 70, 229, 0.2);
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9e9ff1; /* Indigo */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4f46e5; /* Darker Indigo */
  }
}